<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.videolib">

    <application>
        <activity
            android:name=".PlayVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensor"
            android:theme="@style/NoTitleFullscreen" />
    </application>

</manifest>