<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.lzyzsd.library">

    <application>

        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:exported="true"
            android:label="dexopt"
            android:process=":dexopt" />

    </application>

</manifest>
