<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baselib">

    <!-- 地图SDK（包含其搜索功能）需要的基础权限 -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->


    <!-- 调用相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- android:resizeableActivity="false"  禁止分屏 -->
    <!-- android:hardwareAccelerated="true"  硬加速 -->
    <!-- android:supportsRtl="true"  是否支持从右到左(原来RTL就是right-to-left 的缩写...)的布局 -->
    <!-- suppress CheckTagEmptyBody -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 第三方库使用了FileProvider,1.在manifest节点中加入命名空间xmlns:tools="http://schemas.android.com/tools" -->
            <!-- 2.需要增加,tools:replace="android:resource" -->
            <!-- tools:replace="android:authorities" -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 编译版本24,Android 7.0以上Google默认支持了分屏模式 -->
        <!-- android:resizeableActivity默认属性为true(分屏属性) -->
        <!-- 全面屏适配:默认不需要加以下代码适配,当resizeableActivity为false是才需要 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <!-- 选择图片 -->
        <activity
            android:name=".takephoto.utils.SelectPhotoActivity"
            android:theme="@style/AlertNoActionBar" />

        <!-- 选择图标多张 -->
        <activity android:name=".takephoto.utils.MultipleImagesActivity" />

        <!-- 在AndroidManifest.xml中增加内核首次加载时优化Service声明； -->
        <!-- 该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束。 -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />

    </application>

</manifest>