<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuxie.demo">

    <!-- 添加读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- begin: baidu speech sdk  权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- end: baidu speech sdk  权限 -->
    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 横屏:landscape -->
        <!-- 竖屏:portrait -->
        <!-- 横屏：setRequestedOrientation(ActivityInfo.SCREEN_ORIENTATION_LANDSCAPE); -->
        <!-- 竖屏：setRequestedOrientation(ActivityInfo.SCREEN_ORIENTATION_PORTRAIT); -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize">切换横竖屏,不从新执行生命周期,执行onConfigurationChanged 方法 -->
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- webview使用 -->
        <activity android:name=".activity.WebViewJsActivity" />
        <!-- okhttp3使用 -->
        <activity android:name=".activity.Okhttp3Activity" />
        <activity android:name=".activity.GlideAndPicassoActivity" />
        <activity android:name=".activity.ViewActivity" />
        <activity android:name=".mvp.view.UserActivity" />
        <activity android:name=".login.view.LoginActivity" />
        <activity android:name=".activity.RxjavaActivity" />
        <activity android:name=".mvvp.MvvpActivity" />
        <activity android:name=".video.VideoListActivity" />
        <activity
            android:name=".video.PlayActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_play" />
        <activity android:name=".music.MusicActivity" />
        <activity android:name=".txt.TxtActivity" />
        <activity android:name=".txt.ReadTxtActivity" />
        <activity android:name=".txt.TxtDirActivity" />
        <activity android:name=".listandrecycler.ListAndRecyclerActivity" />
        <activity android:name=".listandrecycler.MultiItemListViewActivity" />
        <activity android:name=".listandrecycler.RecyclerViewActivity" />
        <activity android:name=".listandrecycler.MultiItemRvActivity" />
        <activity android:name=".controlpc.RemoteControlActivity" />
        <activity android:name=".controlpc.ControlActivity" />
        <activity android:name=".controlpc.PcScreenActivity" />
        <activity android:name=".sms.SmsApiActivity" />
        <activity android:name=".sms.UpdateSmsApiActivity" />

        <!-- &lt;!&ndash; 微信支付 &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name=".wxapi.WXPayEntryActivity" -->
        <!-- android:exported="true" -->
        <!-- android:launchMode="singleTop"></activity> -->


        <!-- <receiver android:name=".wxapi.AppRegister"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- &lt;!&ndash; 微信 &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name=".wxapi.WXEntryActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->
        <!-- &lt;!&ndash; 微信支付 &ndash;&gt; -->

        <activity
            android:name=".play.PalyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.audio.ActivityWakeUp"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="唤醒词"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".net.NetActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".dq.DqActivity" />
        <activity android:name=".novel.SearchNovelActivity" />
        <activity android:name=".novel.NovelDirActivity" />
        <activity android:name=".novel.ReadNovelActivity"></activity>
    </application>

</manifest>