<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.audio">

    <!-- begin: baidu speech sdk  权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- end: baidu speech sdk  权限 -->
    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme"> <!-- 不使用识别UI 对话框时 ，可以删除SimpleTransApplication-->

        <!--
            离线功能即离线命令词及唤醒词功能开启需要正式授权，正式授权完全由SDK自动管理：
            1. 在百度语音开放平台注册应用，http://yuyin.baidu.com/app
            2. 给在百度语音开放平台注册应用绑定包名。本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看。
            3. 在当前应用的AndroidManifest.xml中填写相应的APP_ID API_KEY SECRET_KEY
            4. 首次使用联网。正式授权目前有效期三年，三年之后的最后一个月尝试更新正式授权。
            另外需要注意的是优先在线识别，即离线命令词识别功能在在线（包括2G网络）的情况下自动不启用。。
        -->
        <!--
        再次重复！！填写APP_ID 时请检查在官网的该应用内是否设置了正确包名。否则会导致唤醒词及离线功能无法使用。
         本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看。
         如果遇见“app name unknown"的错误， 极可能为包名设置错误
          -->
        <!-- 正式发布时，请替换成您自己的appId 本demo的appId会不定时下线 -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="11487360" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="ltm7DVvmtfT84Zlf1BxFwipC" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="RTOZBnsm12IMkk0s2TCtEFTtZGCxSW3E" />
        <!-- 请确认集成后的包名是否正确，本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看 -->
        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />

        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.ActivityMain"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.DeviceDefault.Light">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.ActivityOnline"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="在线识别"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.ActivityOffline"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="离线命令词"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.ActivityNlu"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="语义解析（本地和在线）"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.ActivityAllRecog"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="全部识别功能"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="com.audio.ActivityWakeUp"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="唤醒词"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.ActivityWakeUpRecog"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="唤醒后识别"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.mini.ActivityMiniRecog"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="精简版识别"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.ActivityUiDialog"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="对话框UI识别"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.mini.ActivityMiniWakeUp"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="精简版唤醒词"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.mini.ActivityMiniTest"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="批量测试音频文件识别"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:exported="false"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Dialog">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.baidu.action.RECOGNIZE_SPEECH" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.setting.OnlineSetting"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="在线识别设置"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.DeviceDefault.Light"></activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.setting.OfflineSetting"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="离线命令词设置"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.DeviceDefault.Light"></activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.setting.NluSetting"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="语义设置"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.DeviceDefault.Light"></activity>-->
        <!--<activity-->
        <!--android:name="com.baidu.android.voicedemo.activity.setting.AllSetting"-->
        <!--android:configChanges="orientation|keyboardHidden|screenLayout"-->
        <!--android:label="全部识别设置"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.DeviceDefault.Light"></activity>-->
    </application>
</manifest>

